@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

span{
    color: #fff;
    
    transition: 0.3s;
}

span:hover{
    opacity: 0.7;
}
.logo{
    position: relative;
    width: 90px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.lupa{
    
    width: 25px;
    font-size: 24px;
    margin-left: 10px;
    
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #23232e;
    height: 20vh;
    box-shadow: 0px 3px 10px #464646;
}
.nav-list{
    list-style: none;
    display: flex;
   
}
.nav-list li{
    margin-left: 32px;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px){
    .nav-list{
        position:fixed;
        top: 11vh;
        right: 0;
        width: 50vw;
        height: 15vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
       
        

    }
   
}
