@import url('https://fonts.googleapis.com/css2? family= Nunito+Sans:wght@600 & display=swap');

nav{
    background-image: linear-gradient(180deg, #003554 0%, #003554ed  100%);
    /* background-color: #003554; */
    box-shadow: 0px 3px 10px #464646;
    font-family: 'Nunito Sans', sans-serif;
}

nav div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
}

.logo{
    width: 100px;
    transition: .3s;
}
 .logo:hover{
   transform:scale(0.9);
}
nav div ul{
     list-style: none; 
     display: flex;
     align-items: center;
     justify-content:left;
     gap: 20px; 
     width: 500px;
}

nav div ul li p{
    color: aliceblue;
    transition: .2s;
}
nav div ul li p:hover{
    opacity: 0.9;
    color:  #FFCF99;
}
nav div ul li img {
    opacity: 0.4;
    transition: .3s;
    cursor: pointer;
}
nav div ul li img:hover{
    opacity: 1;
    transform: scale(1.1); 
}
nav div ul li input{
    background-image: url(./assets/lupa.svg);
    background-position: left;
    background-position-x: 4.5px;
    background-position-y: 4.5px;
    background-size: 20px;
    background-repeat: no-repeat;
    height: 30px;
    border-radius: 20px;
    width: 30px;
    transition: .4s;
}
nav div ul li input:hover{
    width: 150px; 
    border-bottom: 1px solid #FFCF99;
    background-color: #FFCF99;
    opacity: 0.9;
}

nav div ul li input[type=seach]:hover{
    margin: 8px 0;
}

